/* Common classes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
}

/* Utilities */

.opaco{
    color: white;
    opacity: 50%;
}

/******
Main
*******/

/* Top bar */

#site_main .top_bar{
    height: 90px;
    background-color: rgba(0, 0, 0, 0.571);
    width: calc(100% - 230px);
    display: flex;
    float: left;
    align-items: center;
    justify-content: flex-end;
}

#site_main .upgrade{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    transition: 0.5s;
    padding: 10px 40px;

}


/* Side bar */

/* Fix the side bar to the left */
#site_main .side_bar{
    float: left;
    background-color: black;
    width: 230px;
    height: calc(100vh - 80px);
}

/* Removes bootstrap paddings */
.navbar{
    padding: 0!important;
}

nav .logo_img{
    margin-bottom: 25px;
}

nav .logo{
    height: 40px;
}

/* Hidden small logo for xs screen */
nav .logo_small{
    display: none;
    height: 25px;
}

/* Set size to all img in side navbar */
nav ul li a img{
    height: 25px;
}

/* Gives lime border to home */
nav ul .home{
    border-left: 2px solid #ADFF2F;
}
nav ul .home a{
    color: white;
}


/* Playlist section */

.playlist{
    color: white;
    padding: .5rem 1rem;
    margin-top: 1rem;
    overflow: hidden;
}

.playlist h4{
    font-size: 1rem;
    font-weight: 600;
}

.playlist ul{
    list-style: none
}

.playlist ul li{
    padding-bottom: 25px;
}

.playlist ul li a{
    text-decoration: none;
    opacity: 50%;
    color: white;
}


.playlist .plus_icon{
    color: black;
    background-color: white;
    opacity: 50%;
    padding: 1rem;
    margin-right: 10px;
}



/* Main content */

#site_main #content{
    float: left;
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #141922;
}

/* Top navbar */


.top_navbar a{
    font-size: 12px;
}

.top_navbar .evidenzia::after{
    content: "";
    display: block;
    background-color:#ADFF2F;
    height: 1px;
    width: 50px;
    margin: -5px 30px;
}

/******
Footer
*******/

#site_footer{
    height: 90px;
    width: 100%;
    background-color:  #282828;
    float: left;
}








/******
Hover effects
*******/

#site_main .upgrade:hover{
    transform: scale(1.1);
}

.opaco:hover{
    opacity: 100%;
    color: white;
}








/******
Media querys
*******/

@media screen and (max-width: 540px){
    #site_main .side_bar{
        width: 50px;
    }

    nav .logo{
        display: none;
    }

    nav .logo_small{
        display: inline-block;
        margin-top: 5px;
    }

    nav ul li{
        justify-content: center;
    }

    nav ul li .nav-link{
        padding: 0;
        padding-bottom: 10px;
        display: flex;
    }

    /* Hides the links and shows the images */
    nav .hidden_links{
        display: none;
    }

    /* Removes margin bottom from logo pushing up the other elements */
    nav .logo_img{
        margin-bottom: 0;
    }

    nav ul .home{
        border: none;
    }

    .navbar{
        justify-content: center!important;
    }

    #site_main #content{
        width: calc(100% - 50px);
    }

    .playlist{
        display: none;
    }


    #site_main .top_bar{
        width: calc(100% - 50px);
    }
}
